$align: (
    "space-between": space-between,
    "start": flex-start,
    "center": center,
    "end": flex-end,
);

@each $key-align1,
$val-align1 in $align {

    @each $key-align2,
    $val-align2 in $align {

        .row-main-#{$key-align1}-cross-#{$key-align2} {
            display: flex;
            flex-direction: row;
            justify-content: $val-align1;
            align-items: $val-align2;
            box-sizing: border-box;
        }

        .column-main-#{$key-align1}-cross-#{$key-align2} {
            display: flex;
            flex-direction: column;
            justify-content: $val-align1;
            align-items: $val-align2;
            box-sizing: border-box;
        }

    }

}