@import '../../core/styles/styles.scss';

.paragraph-dashboard-container-card-root {
    border-radius: $small-radius;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    @extend .place-holder;
}