@import '../core/styles/styles.scss';

.tab-bar-root {
    list-style-type: none;
    @extend .row-main-center-cross-center;
    @extend .place-holder;
}

.tab-bar-item {
    cursor: pointer;
    @extend .place-holder;
}

.selected-tab-bar-item {
    cursor: pointer;
    background-color: grey;
    @extend .place-holder;
}