.error-component-root {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.error-image{
    width: 240px;
    height: 200px;
}

.error-message {
    word-wrap: break-word;
    font-size: 21px;
    font-weight: 100;
    color: #333;
    padding: 0px;
    text-align: center;
    margin: 0px;
}