@import '../styles/styles.scss';

.dark-background {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 998;
}

.dialog-component-root {
    position: fixed;
    top: 2%;
    left: 50%;
    width: 50%;
    height: 96%;
    transform: translate(-50%);
    z-index: 999;
    box-sizing: border-box;
    background-color: white;
    @extend .column-main-start-cross-center;
    @extend .place-holder;
}

.close-dialog {
    top: 0px;
    right: 0px;
    transform: translate(100%, -100%);
    position: absolute;
    width: 25px;
    height: 25px;
    color: rgb(185, 185, 185);
    cursor: pointer;
}

.close-dialog:hover {
    position: absolute;
    width: 25px;
    height: 25px;
    color: rgb(130, 130, 130);
    cursor: pointer;
}